## Pasos para crear una matriz de sombras
1. identificamos valores faltantes
2. reemplazamos los valores por su valor booleano
3. reemplazamos los valores por algo mas util e informativo

Tabla original -> Tabla de sobra -> Tabla nubular

In [28]:
%run 0.4-Codificacion.ipynb
%run pandas-API.ipynb

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
(
    datos_sustituidos[datos_sustituidos.columns[4:10]]
    .isna()
    .replace({
        False:'No perdido',
        True: 'Perdido'
    })
    .add_suffix("_NA")
    .pipe(
        lambda shadox_m : pd.concat(
            [datos_sustituidos[datos_sustituidos.columns[4:10]], shadox_m],
            axis ="columns"
        )
    )
)

,ultimo_salario_mensual_o_retiro_bruto_en_tu_moneda_local,ultimo_salario_mensual_o_retiro_neto_en_tu_moneda_local,pagos_en_dolares,dolarizado_cual_fue_el_ultimo_valor,pagos_en_criptomonedas,que_porcentaje_o_monto_recibis_en_criptomonedas,ultimo_salario_mensual_o_retiro_bruto_en_tu_moneda_local_NA,ultimo_salario_mensual_o_retiro_neto_en_tu_moneda_local_NA,pagos_en_dolares_NA,dolarizado_cual_fue_el_ultimo_valor_NA,pagos_en_criptomonedas_NA,que_porcentaje_o_monto_recibis_en_criptomonedas_NA
0,475480.0,396346,NaN,NaN,NaN,NaN,No perdido,No perdido,Perdido,Perdido,Perdido,Perdido
1,260000.0,220000,NaN,NaN,NaN,NaN,No perdido,No perdido,Perdido,Perdido,Perdido,Perdido
2,106350.0,88560,NaN,NaN,NaN,NaN,No perdido,No perdido,Perdido,Perdido,Perdido,Perdido
3,339000.0,283700,NaN,NaN,NaN,NaN,No perdido,No perdido,Perdido,Perdido,Perdido,Perdido
4,380000.0,320000,Mi sueldo está dolarizado (pero cobro en moned...,179,NaN,NaN,No perdido,No perdido,No perdido,No perdido,Perdido,Perdido
...,...,...,...,...,...,...,...,...,...,...,...,...
5759,897000.0,540000,NaN,NaN,NaN,NaN,No perdido,No perdido,Perdido,Perdido,Perdido,Perdido
5760,130000.0,295000,NaN,NaN,NaN,NaN,No perdido,No perdido,Perdido,Perdido,Perdido,Perdido
5761,250000.0,250000,NaN,NaN,NaN,NaN,No perdido,No perdido,Perdido,Perdido,Perdido,Perdido
5762,230000.0,160000,NaN,NaN,NaN,NaN,No perdido,No perdido,Perdido,Perdido,Perdido,Perdido
5763,600000.0,515000,Cobro parte del salario en dólares,NaN,NaN,NaN,No perdido,No perdido,No perdido,Perdido,Perdido,Perdido

In [22]:
(
    datos_sustituidos
    .missing.bind_shadow_matrix(only_missing=True)
    .groupby(['me_id_extra_NA'])['ultimo_salario_mensual_o_retiro_bruto_en_tu_moneda_local']
    .describe()
    .reset_index()
)

,me_id_extra_NA,count,mean,std,min,25%,50%,75%,max
0,Missing,199.0,475991.760704,345728.796089,75000.0,221500.0,379035.0,600000.0,1600000.0
1,Not Missing,5565.0,435905.359863,302865.914339,68000.0,230000.0,350000.0,537000.0,1736000.0